{% extends "base.html" %}

{% block title %} {{config.APP_NAME}} - Бактериофаги {% endblock %}

{% block beadcrumb %}
    {% include "snippets/breadcrumb.html" %}
{% endblock %}

{% block page_content %}
    <div class="w3l_banner_nav_right">
    <!-- events -->
        <div class="events col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>Что такое бактериофаги?</h3>
            <p class="animi">
                Бактериофаги - это современные антимикробные препараты, содержащие комплекс природных антибактериальных агентов обладающих способностью воздействовать только на вредные бактерии.
                <br><br>
                <strong>Бактериофаги в природе</strong>
                <br><br>
                Бактериофаги — незримо присутствуют повсюду в нашем мире — в океане, почве, глубоководных источниках, питьевой воде и пище.
                <br><br>
                Бактериофаги — наиболее представленная форма жизни на Земле — от 1030 до 1032фаговых частиц содержится в биосфере, — и играют ключевую роль в поддержании баланса всех исследованных человеком экосистем.
                <br><br>
                <strong>Бактериофаги в препаратах</strong>
                <br><br>
                Возможность исследования фагов в качестве антимикробных агентов в клинике привлекает внимание мирового врачебного и научного сообщества. Современные биотехнологии позволяют использовать бактериофаговую терапию против большинства бактериальных инфекций. На сегодняшний день созданы лекарственные препараты на основе бактериофагов.
                <br><br>
                <h3>Бактерии болеют, вы выздоравливаете</h3>
                <p class="animi">
                    Бактериофаги, что в дословном переводе означает «пожиратели  бактерий», — это особые вирусы, которые способны размножаться только в присутствии определенного вида болезнетворных бактерий. Бактериофаги  могут воспроизводить себе подобных только за счет бактерий. Но человеку эта их особенность только на руку: ведь бактериофаг не только питается клетками вредных бактерий, но и разрушает их буквально до основания.
                    <br><br>
                    Роль бактериофагов в природе — контроль количества микробной флоры и сдерживание ее патологического роста. Как хищники, поедающие грызунов, являются санитарами леса, так и бактериофаги — своеобразные санитары, защищающие мир от инфекций.
                </p>
            </p>
        </div>
        <div class="events col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                    <!-- <div class="agile_top_brand_left_grid_pos">
                        <img src="/static/images/offer.png" alt=" " class="img-responsive">
                    </div> -->
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block text-center">
                                <div class="snipcart-thumb">
                                    <a href="javascript:void(0);"><img src="/static/images/bacterio/1.jpg" alt="asdad" class="product_img"></a>
                                    <p>Секстафаг ®, пиобактериофаг поливалентный жидкий</p>
                                    <!-- <h4>{{"%.2f сом"|format(600)}}</h4> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                    <br>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block text-center">
                                <div class="snipcart-thumb">
                                    <a href="javascript:void(0);"><img src="/static/images/bacterio/2.jpg" alt="asdad" class="product_img"></a>
                                    <p>Интести-бактериофаг</p>
                                    <!-- <h4>{{"%.2f сом"|format(600)}}</h4> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block text-center">
                                <div class="snipcart-thumb">
                                    <a href="javascript:void(0);"><img src="/static/images/bacterio/3.jpg" alt="asdad" class="product_img"></a>
                                    <p>Пиобактериофаг поливалентный очищенный</p>
                                    <!-- <h4>{{"%.2f сом"|format(600)}}</h4> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                    <br>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block text-center">
                                <div class="snipcart-thumb">
                                    <a href="javascript:void(0);"><img src="/static/images/bacterio/4.jpg" alt="asdad" class="product_img"></a>
                                    <p>Пиобактериофаг комплексный жидкий</p>
                                    <!-- <h4>{{"%.2f сом"|format(600)}}</h4> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block text-center">
                                <div class="snipcart-thumb">
                                    <a href="javascript:void(0);"><img src="/static/images/bacterio/5.jpg" alt="asdad" class="product_img"></a>
                                    <p>Бактериофаг стрептококковый</p>
                                    <!-- <h4>{{"%.2f сом"|format(600)}}</h4> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                    <br>
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block text-center">
                                <div class="snipcart-thumb">
                                    <a href="javascript:void(0);"><img src="/static/images/bacterio/6.jpg" alt="asdad" class="product_img"></a>
                                    <p>Бактериофаг дизентерийный</p>
                                    <!-- <h4>{{"%.2f сом"|format(600)}}</h4> -->
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    <!-- //events -->
    </div>
    <div class="clearfix"></div>
{% endblock %}