{% extends "base.html" %}

{% block title %} {{config.APP_NAME}} - Сотрудничество {% endblock %}

{% block beadcrumb %}
    {% include "snippets/breadcrumb.html" %}
{% endblock %}

{% block page_content %}
    <div class="w3l_banner_nav_right">
        <div class="privacy about">
            <h3>Сотрудничество</h3>
            <p class="animi">
                Уважаемые Поставщики и Производители! <br><br>

                Мы ведём непрерывную работу по количественному и качественному расширению ассортимента продукции, представленной как в аптеках, так и в интернет - магазине. В случае Вашей заинтересованности в сотрудничестве, просим Вас подготовить соответствующее предложение с наиболее точным описанием предлагаемых товаров и выслать его на электронный адрес. Сотрудники, занимающиеся закупками, в обязательном порядке рассмотрят Ваше предложение.
                <br><br>
                <strong>Чтобы ускорить рассмотрение Вашего предложения, включите в него следующие данные:</strong>
                <br>
                - прайс-лист (розничный и/или оптовый) предлагаемых товаров в формате .xls либо .csv с максимально подробными описанием и - фотографиями товаров;<br>
                - желаемые условия сотрудничества;<br>
                - описание торговой марки, которую представляет данная продукция;<br>
                - описание компании поставщика;<br>
                - личные данные контактных лиц.<br>
                <br>
                Надеемся на плодотворное и взаимовыгодное сотрудничество!
                Основной целью в своей работе мы ориентируемся на заключение прямых контрактов с заводами на продукцию имеющую спрос, либо на заключение контракта с дистрибьюторами, осуществляющими продвижение на рынке собственными силами.
                <br><br>
                <strong>Для обсуждения желания заключить контракт на поставку товара с ОсОО "Evrasia-Pharm", необходимо предоставить следующую информацию:</strong>
                <br>
                - Шаблон контракта;<br>
                - Условия поставок;<br>
                - Условия оплаты, цена товара;<br>
                - Планируемые маркетинговые мероприятия по продвижению продукции;<br>
                - План продаж.План продаж.<br>
            </p>
        </div>
    <!-- //about -->
    </div>
    <div class="clearfix"></div>
{% endblock %}