{% extends "base.html" %}

{% block title %} {{config.APP_NAME}} - Для оптовых клиентов и юридических лиц {% endblock %}

{% block beadcrumb %}
    {% include "snippets/breadcrumb.html" %}
{% endblock %}

{% block page_content %}
    <div class="w3l_banner_nav_right">
        <div class="privacy about">
            <h3>для оптовых клиентов и юридических лиц</h3>
            <p class="animi">
                Оптовая продажа лекарств, медицинской техники и прочих фармацевтических и парафармацевтических товаров - одно из ключевых направлений деятельности компании "Evrasia-Pharm". Реализация фармацевтических товаров оптом осуществляется нашим отделом сбыта на условиях, которые будут максимально выгодными для Покупателей. Вся предлагаемая нашей компанией продукция соответствует требованиям стандартам качества, имеет сертификацию, государственную регистрацию и сопровождается необходимыми документами.
                <br><br>
                <strong>Чтобы стать оптовым Партнёром ОсОО "Evrasia-Pharm", необходимо заключить договор на основании следующих документов:</strong>
                <br>
                - Лицензия на право ведения фармацевтической деятельности;<br>
                - Свидетельство о регистрации ЧП или ОсОО;<br>
                - Печать.<br>
                
                <br>
                Возможность оптовой продажи товаров предусматривается только для юридических лиц и индивидуальных предпринимателей.
                <br><br>

                <strong>Условия работы с оптовыми Партнёрами:</strong>
                <br>
                - сновная форма работы с Партнёрами — оформление предварительного заказа;<br>
                - Сумма заказа определяется на момент заключения договора;<br>
                - Заказ максимально кратно упаковкам;<br>
                - Цена продажи рассчитывается на основании скидочной системы для оптовых Партнёров;<br>
                - Фиксирование оптовых цен производится только при оформлении заказа и соблюдении обязательств по оплате;<br>
                - Фактическая оплата (за наличные), либо предварительная оплата;<br>
                - Доставка товара Покупателю со склада Поставщика производится по определенному, заранее разработанному маршруту и графику. <br>
                <br>
                Цены на интересующий товар необходимо уточнять у менеджера по работе с оптом.
                <br>
                Для того, чтобы получить дополнительную информацию, Вам необходимо связаться со специалистами нашего отдела сбыта.
            </p>
        </div>
    <!-- //about -->
    </div>
    <div class="clearfix"></div>
    <!-- <div class="team">
        <div class="container">
            <h3>Команда</h3>
            <div class="agileits_team_grids">
                <div class="col-md-6 agileits_team_grid">
                    <img src="/static/images/14_illinois.jpg" alt=" " class="img-responsive">
                    <h4>Martin Paul</h4>
                    <p>Manager</p>
                    <ul class="agileits_social_icons agileits_social_icons_team">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 agileits_team_grid">
                    <img src="/static/images/32_new_mexico.jpg" alt=" " class="img-responsive">
                    <h4>Michael Rick</h4>
                    <p>Supervisor</p>
                    <ul class="agileits_social_icons agileits_social_icons_team">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div> -->
{% endblock %}