{% extends "base.html" %}

{% block title %} {{config.APP_NAME}} - Доставка и оплата {% endblock %}

{% block beadcrumb %}
    {% include "snippets/breadcrumb.html" %}
{% endblock %}

{% block page_content %}
    <div class="w3l_banner_nav_right">
    <!-- events -->
        <div class="events">
            <h3>Доставка и оплата</h3>
            <p class="animi">
                Приём и обработка заказов производится круглосуточно.
                <br>
                <strong>В случае дополнительных вопросов обращайтесь:</strong> <br>
                <strong>* c 08:00 до 19:00</strong> - <span style="color: #c30;">0312 973 971, 0708 808 839</span> - справочная служба<br>
                <br>
                Во избежание недоразумений или конфликтных ситуаций рекомендуем проверять правильность комплектации полученного заказа в присутствии курьера.Курьерская служба работает круглосуточно, что даёт Вам возможность получить заказанные товары у порога Вашего дома в любое время суток.Заказы доставляются через розничную сеть аптек автотранспортом с помощью курьера по установленному тарифу (в зависимости от территориальности проживания Покупателя).
                <br><br>
                <h3>Стоимость доставки по городу Бишкек</h3>
                <br><br>
                При заказе на сумму более 3 000 сом - <strong style="color:green;">доставка бесплатная</strong>. <br>
                с 08:00 до 19:00 - 150 сом<br>
                с 19:00 до 08:00 - 200 сом
                <br><br>
                В случае поступления заказов от Покупателей, которые проживают <strong>в жилых массивах, новостройках, в микрорайоне Учкун и других отдаленных от черты города местностях </strong>, <span style="color:#c30;">будет доплата в размере 50 сом</span>. Время доставки заказа - в течение 1,5 часов. 
            </p>
        </div>
    <!-- //events -->
    </div>
    <div class="clearfix"></div>
{% endblock %}