{% extends "base.html" %}

{% block title %} {{config.APP_NAME}} - Вакансии {% endblock %}

{% block beadcrumb %}
    {% include "snippets/breadcrumb.html" %}
{% endblock %}

{% block page_content %}
    <div class="w3l_banner_nav_right">
    <!-- events -->
        <div class="events">
            <h3>Вакансии</h3>
            <p class="animi">
                ОсОО «Evrasia-Pharm» — крупнейшая аптечная сеть в Кыргызстане. В 2017 году численность персонала компании превысила 800 сотрудников. Однако наша компания не стоит на месте, каждую неделю мы открываем новые вакансии. <br><br>
                «Evrasia-Pharm» делает ставку на ответственных и целеустремленных людей, желающих развиваться вместе с компанией. Благодаря обширной географии и масштабу своей деятельности, «Evrasia-Pharm» может предложить интересную работу людям разных возрастов и профессий, обладающих различными навыками и профессиональными знаниями.<br><br>
                Если Вы хотите стать частью нашей дружной компании, тогда ознакомьтесь с доступными вакансиями, выберите интересующую вакансию и отправьте Ваше резюме нам на почту: <span style="color:#c30;">vacancy@evrasia-pharm.kg</span>.<br><br>
                Наш специалист обязательно свяжется с Вами, если Ваш опыт работы и профессиональные навыки подходят критериям Компании.
                <br><br>
                <strong>Телефон</strong>: +996 (312) 68-05-75, доб.159, 160 <br>
                <strong>E-mail</strong>: vacancy@evrasia-pharm.kg
            </p>
            <div class="w3agile_event_grids">
                <div class="col-md-6 w3agile_event_grid">
                    <div class="col-md-3 w3agile_event_grid_left">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9 w3agile_event_grid_right">
                        <h4>Фармацевты на склад</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                            voluptatibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 w3agile_event_grid">
                    <div class="col-md-3 w3agile_event_grid_left">
                        <i class="fa fa-bullseye" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9 w3agile_event_grid_right">
                        <h4>Медицинский представитель / продакт менеджер</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                            voluptatibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="w3agile_event_grids">
                <div class="col-md-6 w3agile_event_grid">
                    <div class="col-md-3 w3agile_event_grid_left">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9 w3agile_event_grid_right">
                        <h4>Медицинский представитель</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                            voluptatibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 w3agile_event_grid">
                    <div class="col-md-3 w3agile_event_grid_left">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9 w3agile_event_grid_right">
                        <h4>​Cпециалист в отдел калькуляции</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                            voluptatibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="w3agile_event_grids">
                <div class="col-md-6 w3agile_event_grid">
                    <div class="col-md-3 w3agile_event_grid_left">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-9 w3agile_event_grid_right">
                        <h4>Специалист в отдел финансового анализа</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
                            voluptatibus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    <!-- //events -->
    </div>
    <div class="clearfix"></div>
{% endblock %}